.carousel-item{
    height: 40rem;
}
#img-3{
    height: 45rem;
}
#contenedor{
    height: 20rem;
}
#NewImage{
    height: 12rem;
}
#card-solita{
    width: 18rem;
    text-decoration: none;
}
.table{
    padding: 15rem
}